<footer class="footer">
    <div class="container">
        <div  class="nd-region">
		    <div class = "container-fluid">
		        <div  id="Footer" class="row">               
				    <div  id="footer" class="col-md-12 ">                      
				        <div class="region region-footer">
							<div id="block-block-3" class="pi-section-white block block-block" >   
								<div class = "block-content clearfix">
									<div  class = ' row  footerStripe' style = 'margin-top: 10px;'>
										<div  class = ' col-sm-10'>
										<div  style = 'margin-top: 8px;'><p class="rtecenter"><span style="font-size:11px;"><strong>www.valetliving.com &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;100 South Ashley Drive, Suite 700, Tampa, Florida 33602 &nbsp; &nbsp; Telephone: 813-248-1327 | Toll Free: 1-877-574-2587</strong></span></p></div>
										</div>
										<div  class = ' col-sm-2 pi-text-center' style = ' text-align:center;'>
										<span  class = ' pi-small pi-social-icons-simple' style = 'color: #ffffff;'><a href = "/%20https%3A//www.facebook.com/valetliving/" class = "pi-social-icon-facebook"  style = "color: #ffffff;" target = "_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
										<span  class = ' pi-small pi-social-icons-simple' style = 'color: #ffffff;'><a href = "https://twitter.com/valetliving" class = "pi-social-icon-twitter"  style = "color: #ffffff;" target = "_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
										<span  class = ' pi-small pi-social-icons-simple' style = 'color: #ffffff;'><a href = "https://www.linkedin.com/company/valet-living" class = "pi-social-icon-linkedin"  style = "color: #ffffff;" target = "_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
										</div>
									</div>
								</div>
							</div> <!-- /.block -->
						</div>         
				    </div>                                              
		    	</div>
		    </div>
      	</div>
    </div>
</footer>