<app-header></app-header>
<div class="container">
    <img src="http://valetliving.com/sites/default/files/HomepagePhoto-Rev3.jpg" alt="" />
	<div class=" homeBlock">
		<div class=" pi-img-w pi-img-with-caption pi-img-center pi-text-center" data-animation-delay="500">
		    <div class="">
		      <a href="/products-services/doorstep" class="pi-img-link">
		        <img style="" src="http://valetliving.com/sites/default/files/styles/blog_125x125/public/DoorstepBlockNew.png?itok=F8xRhikf" width="200" height="200" alt="" title="">
		        </a>
		    </div>
		    <a href="/products-services/doorstep" class="pi-img-caption">Valet Living Doorstep</a>
		</div>
	</div>
	<div class=" homeBlock">
		<div class=" pi-img-w pi-img-with-caption pi-img-center pi-text-center" data-animation-delay="500">
		    <div class="">
		      <a href="/products-services/doorstep" class="pi-img-link">
		        <img style="" src="http://valetliving.com/sites/default/files/styles/blog_125x125/public/TurnsBlockNew.png?itok=DkX1fK-F" width="200" height="200" alt="" title="">
		        </a>
		    </div>
		    <a href="/products-services/doorstep" class="pi-img-caption">Valet Living Turns</a>
		</div>
	</div>
	<div class=" homeBlock">
		<div class=" pi-img-w pi-img-with-caption pi-img-center pi-text-center" data-animation-delay="500">
		    <div class="">
		      <a href="/products-services/doorstep" class="pi-img-link">
		        <img style="" src="http://valetliving.com/sites/default/files/styles/blog_125x125/public/MaintenanceBlockNew.png?itok=Hm1HOLc7" width="200" height="200" alt="" title="">
		        </a>
		    </div>
		    <a href="/products-services/doorstep" class="pi-img-caption">Valet Living Maintenance</a>
		</div>
	</div>
	<div class=" homeBlock">
		<div class=" pi-img-w pi-img-with-caption pi-img-center pi-text-center" data-animation-delay="500">
		    <div class="">
		      <a href="/products-services/doorstep" class="pi-img-link">
		        <img style="" src="http://valetliving.com/sites/default/files/styles/blog_125x125/public/PetBlockNew.png?itok=BrXm9mqp" width="200" height="200" alt="" title="">
		        </a>
		    </div>
		    <a href="/products-services/doorstep" class="pi-img-caption">Valet Living Pet</a>
		</div>
	</div>
</div>
<app-footer></app-footer>
